[master]
${master_hostname} ansible_host=${master_public_ip}


[all:vars]
ansible_user=ubuntu
ansible_ssh_private_key_file=~/Downloads/cv-challenge-o2/terraform/ec2-key.pem
ansible_python_interpreter=/usr/bin/python3
ansible_ssh_common_args='-o StrictHostKeyChecking=no'